.normalTextSize{
	
	font-size:12px!important;
	
}
.normalBoldTextSize{
	
	font-size:14px!important;
	font-weight:bold!important;
	
}

.normalBoldTextSizeEjer{
	
	font-size:18px!important;
	font-weight:bold!important;
	color: red !important;
	background-color:lightgreen !important;
	
}
.normalTextSizeGrid{
	vertical-align:middle!important;
	font-size:12px!important;
	
}
.normalTextSizeCenter{
	font-size:12px!important;
	text-align:center!important;
	
}
.normalTextSizeRight{
	font-size:12px!important;
	text-align:right!important;
	
}
.normalTextSizeLeft{
	font-size:12px!important;
	text-align:left!important;
	
}
.normalTextSizeTop{
	vertical-align:top!important;
	
}

.bigTextSizeRight{
	font-size:18px!important;
	text-align:right!important;
	
}
.ui-autocomplete-input {
	width: 450px !important;
}
.columnaIzquierda {	
	font-weight: bold !important;
	font-size: 11px !important;
	text-align:left!important;
}
.columnaIzdaRegulariza {	
	font-weight: bold !important;
	font-size: 16px !important;
	text-align:left!important;
	padding-right:20px;
}
.columnaCentro {	
	font-weight: bold !important;
	font-size: 11px !important;
	text-align:center!important;
}
.prodMixtaCol{
        width:200px;
 }
 .grupoCulCol{
        width:300px;
}
.inputCantidad input
{
    width: 50px !important;   
    font-size:12px;
}
.inputImporte input
{
    width: 100px !important;   
    font-size:10px !important;
}
.inputProveedor input
{
    width: 350px !important;   
}
.inputCuentaGastos input
{
    width: 150px !important;   
}
.inputCuentaIngresos input
{
    width: 250px !important;   
}

.inputCuentaAsiento input
{
    width: 250px !important;  
    font-size:10px !important; 
}

.inputConcepto input
{
    width: 150px !important;   
    font-size:10px !important;
}
.ui-autocomplete-item{
	border: 1px solid #fff !important;
	clear: left;
	cursor: text;
	list-style-type: none;
	margin: 0;
	min-height: 1px;
	width: 500px !important;
}



.middleAlign td
{
	vertical-align:middle!important;
	text-align:right!important;
}
.cobrada{
   background-color:lightblue !important;
    background-image: none !important;
    color: #000000 !important;
}
.pagada{
   background-color:lightblue !important;
    background-image: none !important;
    color: #000000 !important;
}
.pagada-devuelta{
	background-color:lightgreen !important;
    background-image: none !important;
    color: #000000 !important;
}
.devolucion{
   background-color:tomato !important;
    background-image: none !important;
    color: #000000 !important;
}
.blueaTextSizeCenter{
	font-size:10px!important;
	text-align:center!important;
	color:lightblue !important;
	font-weight: bold !important;
}
.prodMixtaText{
	color:red !important;
	font-weight: bold !important;
	font-size: 14px !important;
}

.negrita{
	color:black !important;
	font-weight: bold !important;
	font-size: 12px !important;
}




