

#panelogin { 
position:relative;
left: -40px; 
}
#estilologin{
	font-family:'Lucida Casual', 'Comic Sans MS'; 
}

#logo {
position:relative;
height: 25px;
margin:0 auto;
padding: 10% 0;
}






