<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<title>CAERM</title>
		<link rel="stylesheet" type="text/css"
			href="/caerm_es/css/estilogin.css" />
	</h:head>
	<h:body>
	<p:ajaxStatus onstart="statusDialogLogin.show();"
			onsuccess="statusDialogLogin.hide();" />
		<p:dialog modal="true" widgetVar="statusDialogLogin"
			header="Cargando..." draggable="false" closable="false" width="150"
			height="100">
			<div align="center">
				<p:graphicImage value="/img/ajax-loader.gif" />
			</div>
		</p:dialog>
		<f:loadBundle basename="com.geosystec.caerm.resources.messages" var="msgs" />

		<div id="logo" align="center">	
				<h:graphicImage value="/img/logocaerm.png" />
		</div>
		<div id="panelogin" align="center">
		
			<h:form id="inputLogin">
				<p:growl id="messagesLogin" sticky="true"/>			
				<h:panelGrid id="gridLogin" columns="2" cellpadding="5">

					<h:outputLabel  value="USUARIO: " />
					<p:inputText id="usuario" value="#{user.name}" required="true"
						 styleclass="estilologin" requiredMessage="Usuario: se necesita un valor"/>

					<h:outputLabel  value="CONTRASEÑA: " />
					<p:password id="password" value="#{user.password}" required="true"
						 requiredMessage="Contraseña: se necesita un valor"/>

					<f:facet name="footer">
						<center>
							<p:commandButton id="login" action="#{user.login}"
								value="  Entrar  " update="gridLogin,messagesLogin" ajax="false" icon="ui-icon-unlocked">
							</p:commandButton>
						</center>
					</f:facet>
				</h:panelGrid>

			</h:form>

		</div>
		


	</h:body>
</ui:composition>
