<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
	<h:head>
	<title>Registro Entrada/Salida CAERM</title>
	
	</h:head>
	
	<link rel="stylesheet" type="text/css"
			href="/caerm_es/css/custom.css"></link>
	
	<div align="center">
		<p:outputLabel value="Registro Entrada/Salida CAERM"/>
	</div>
		<p:separator />
	 <p:tabView id="tabRegistroES">
        	<p:tab title="Registro E/S">
            	<ui:include src="/tabs/registro.xhtml"></ui:include>
            </p:tab>   
    </p:tabView>
	
	<ui:include src="/dialogs/newRegistroDlg.xhtml"></ui:include>
		
	
</ui:composition>