<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<h:form id="formRegistro">
	
	 <p:contextMenu for="registros">
        <p:menuitem value="Edita" update=":formNuevoRegistro:gridRegistro" icon="ui-icon-search" oncomplete="PF('newRegistroDlg').show();"  actionListener="#{registroBean.editar()}"/>
    </p:contextMenu>
 
	
	<p:remoteCommand name="filterPais"    actionListener="#{registroBean.populateRegistrosPais()}" />
	<p:remoteCommand name="filterProvincia"    actionListener="#{registroBean.populateRegistrosProv()}" />
	<p:remoteCommand name="filterMunicipio"  onstart="PF('registros').clearFilters()" actionListener="#{registroBean.populateRegistrosMun()}" />
		
		<p:commandButton value="Añadir Registro" oncomplete="PF('newRegistroDlg').show();"  update=":formNuevoRegistro:gridRegistro" actionListener="#{registroBean.doNew()}">
		<p:ajax update=":formNuevoRegistro:gridRegistro" resetValues="true" />
		</p:commandButton>
	
	
            <p:dataTable var="registros" id="registros" value="#{registroBean.registros}" paginator="true" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
			currentPageReportTemplate="{currentPage} de {totalPages}" filteredValue="#{registroBean.registrosFiltered}"
			paginatorPosition="bottom" rowsPerPageTemplate="30" rows="30" widgetVar="registros" rowStyleClass="#{registros.regOrigendest eq '0' ? 'pagada' : null}"
             rowKey="#{registros.regId}" selection="#{registroBean.selectedRegistro}" selectionMode="single" >
    		<f:facet name="header">
            Listado de Registros de E/S
        	</f:facet>
    		<p:column headerText="E/S" width="50" filterBy="#{registros.regOrigendest}" filterMatchMode="equals"  
    		filterStyle="width:50px;" styleClass="columnasTablas" sortBy="#{registros.regOrigendest}">
    					<f:facet name="filter">
							 <p:selectOneMenu onchange="PF('registros').filter()">
							 		<f:converter converterId="javax.faces.Integer"/>
							       <f:selectItem itemLabel="Todas" itemValue="" />
							       <f:selectItem itemLabel="E" itemValue="1" />
							       <f:selectItem itemLabel="S" itemValue="0" />
							 </p:selectOneMenu>
		            	</f:facet>
					<h:outputText value="#{registros.regOrigendest eq 1 ? 'E': 'S'}" />
			</p:column>
			<p:column headerText="N.Orden" width="50" filterBy="#{registros.regNorden}"
								filterMatchMode="startsWith" filterStyle="width:70px;"
				styleClass="columnasTablas" sortBy="#{registros.regNorden}">
					<h:outputText value="#{registros.regNorden}" />
			</p:column>
			<p:column headerText="FECHA" width="80" filterBy="#{registros.regFechaEs}" filterMatchMode="equals"  
    		 styleClass="columnasTablas" sortBy="#{registros.regFechaEs}">
				<f:facet name="filter">
    			<p:calendar  pattern="dd/MM/yyyy" size="10">
        			<p:ajax event="dateSelect"  oncomplete="PF('registros').filter()"/>
    			</p:calendar>
				</f:facet>
					<h:outputText value="#{registros.regFechaEs}" >
					<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
					</h:outputText>
			</p:column>
			<p:column headerText="REMITENTE" width="250" filterBy="#{registros.regRemitente}"
								filterMatchMode="contains" filterStyle="width:300px;"
				styleClass="columnasTablas" sortBy="#{registros.regRemitente}">
					<h:outputText value="#{registros.regRemitente}" />
			</p:column>
			
			<p:column headerText="CONTENIDO" width="300" filterBy="#{registros.regEstractoDoc}"
								filterMatchMode="contains" filterStyle="width:300px;"
				styleClass="columnasTablas" sortBy="#{registros.regEstractoDoc}">
					<h:outputText value="#{registros.regEstractoDoc}" />
			</p:column>
			<p:column headerText="CLASE DOC" width="100" filterBy="#{registros.auxClaseDoc.clasedocDesc}"
								filterMatchMode="contains" filterStyle="width:100px;"
				styleClass="columnasTablas" sortBy="#{registros.auxClaseDoc.clasedocDesc}">
					<h:outputText value="#{registros.auxClaseDoc.clasedocDesc}" />
			</p:column>
			<p:column headerText="PAIS" width="70" filterBy="#{registros.auxPaises.paisCod}" filterMatchMode="exact" 
    			filterStyle="width:100px;"  styleClass="columnasTablas" sortBy="#{registroBean.pais.paisDesc}">
				<f:facet name="filter">
							 <p:selectOneMenu  value="#{registroBean.pais.paisCod}"  onchange="filterPais()" style="width:100px;">
								 <f:selectItem itemLabel="Pais" itemValue="#{null}" noSelectionOption="true" />
	                   				<f:selectItems value="#{registroBean.listPaises}"  var="pais" itemLabel="#{pais.paisDesc}" itemValue="#{pais.paisCod}"/>
							 </p:selectOneMenu>
		        </f:facet>
					<h:outputText value="#{registros.auxPaises.paisDesc}" />
			</p:column>
			
			<p:column headerText="PROVINCIA" width="60" filterBy="#{registros.auxProvincias.provId}" filterMatchMode="exact" 
    		filterStyle="width:80px;" styleClass="columnasTablas" sortBy="#{registroBean.provincia.provDescprov}">
				<f:facet name="filter">
							 <p:selectOneMenu id="provtable" value="#{registroBean.provincia.provId}" onchange="filterProvincia()" style="width:100px;">
							  <f:selectItem itemLabel="Provincias" itemValue="0"  />
                   				<f:selectItems value="#{registroBean.listProvincias}"  var="prov" itemLabel="#{prov.provDescprov}" itemValue="#{prov.provId}"/>
							 </p:selectOneMenu>
		        </f:facet>
					<h:outputText value="#{registros.auxProvincias.provDescprov}" />
			</p:column>
			
			<p:column headerText="MUNICIPIO" width="80" filterBy="#{registros.auxMunicipios.muniDesc}" filterMatchMode="exact" 
    			filterStyle="width:100px;" styleClass="columnasTablas" sortBy="#{registroBean.municipio.muniDesc}">
    			<f:facet name="filter">
							 <p:selectOneMenu  value="#{registroBean.municipio.muniDesc}" id="muntable"  onchange="filterMunicipio()" style="width:120px;">
							     <f:selectItem itemLabel="Municipio" itemValue="#{null}"  />
                   				<f:selectItems value="#{registroBean.listMunicipios}"  var="muni" itemLabel="#{muni.muniDesc}" itemValue="#{muni.muniDesc}"/>
							 </p:selectOneMenu>
		        </f:facet>
					<h:outputText value="#{registros.auxMunicipios.muniDesc}" />
			</p:column>
			
			</p:dataTable>
            
	
		
	</h:form>
	
	
</ui:composition>