<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="formNuevoRegistro">
	 <p:growl id="msgs" showDetail="true" sticky="true" />  
		<p:dialog header="Añadir Registro E/S" id="newRegistroDlg"
			widgetVar="newRegistroDlg" modal="true" height="550">
			<h:panelGrid id="gridRegistro" columns="2"
				columnClasses="leftAlign,leftAlign" headerClass="centerAlign">
				<f:facet name="header">
        		Tipo de Registro
    		</f:facet>
				<h:outputText value="Tipo" />
				<p:selectOneRadio id="options"
					value="#{registroBean.editedRegistro.regOrigendest}"
					required="true"
					requiredMessage="El tipo de entrada de documento es obligatorio"
					update="gridNewRegistro">
					<f:selectItem itemLabel="Entrada" itemValue="1" />
					<f:selectItem itemLabel="Salida" itemValue="0" />
					<p:ajax update="inputNorden"
						listener="#{registroBean.retTipoRegistro()}" resetValues="true" />
				</p:selectOneRadio>

				<h:outputText value="N. de orden*          " />
				<p:inputText id="inputNorden" value="#{registroBean.nOrden}"
					label="Número de orden"
					title="Debe de seleccionar un tipo de registro" immediate="true">
				</p:inputText>
				
				<h:outputText value="Remitente*" />
				<p:autoComplete value="#{registroBean.remitenteSeleccionado}"
							scrollHeight="250" required="true"
							process="@this" completeMethod="#{registroBean.completeRemitente}"
							var="remitente" itemLabel="#{remitente.titEmpresa}"
							itemValue="#{remitente}" converter="titularesConverter" label="Cliente"
							requiredMessage="Remitente: Se necesita un valor."
							 id="remRegistro" minQueryLength="2" queryDelay="1000" >
							<p:column>
                				<h:outputText value="#{remitente.titNop}" />
            				</p:column>
 
            				<p:column>
                				<h:outputText value="#{remitente.titEmpresa}" />
            				</p:column>
				</p:autoComplete>
				
				<h:outputText value="Fecha*" />
				<p:calendar id="fEntradaReg"
					value="#{registroBean.editedRegistro.regFechaEs}" size="10"
					pattern="dd/MM/yyyy" showOn="button"
					label="Fecha de entrada/salida" required="true" locale="es"
					requiredMessage="La fecha de entrada/salida es obligatoria ">
				</p:calendar>

				<h:outputText value="Extracto del contenido*" />
				<p:inputTextarea rows="2" cols="75"
					value="#{registroBean.editedRegistro.regEstractoDoc}"
					styleClass="textSize" required="true"
					requiredMessage="El estracto de documento es obligatorio" />
					
	        	<h:outputText value="Clase Documento:" />
	        	<p:selectOneMenu  value="#{registroBean.editedRegistro.auxClaseDoc.clasedocId}" id="selclasedoc" required="true"
					requiredMessage="La clase de documento  es obligatoria" >
	             	<f:selectItems value="#{registroBean.listClaseDoc}"  var="clasedoc" itemLabel="#{clasedoc.clasedocDesc}" itemValue="#{clasedoc.clasedocId}"/>
	        	</p:selectOneMenu>	
				<h:outputText value="Observaciones" />
				<p:inputTextarea rows="5" cols="75"
					value="#{registroBean.editedRegistro.regObservaciones}"
					styleClass="textSize" />
					<h:outputText value="Pais:" />
				<p:selectOneMenu  value="#{registroBean.editedRegistro.auxPaises.paisCod}" id="selregpais" >
	             	<f:selectItems value="#{registroBean.listPaises}"  var="pais" itemLabel="#{pais.paisDesc}" itemValue="#{pais.paisCod}"/>
	             	<p:ajax  listener="#{registroBean.populateProvincias}" update="selprov"/>
	        	</p:selectOneMenu>	
	        	<h:outputText value="Provincia:" />
	        	<p:selectOneMenu  value="#{registroBean.editedRegistro.auxProvincias.provId}" id="selprov" >
	             	<f:selectItems value="#{registroBean.listProvincias}"  var="prov" itemLabel="#{prov.provDescprov}" itemValue="#{prov.provId}"/>
	             	<p:ajax  listener="#{registroBean.populateMunicipios}" update="selmuni"/>
	        	</p:selectOneMenu>	
	        	<h:outputText value="Municipio:" />
	        	<p:selectOneMenu  value="#{registroBean.editedRegistro.auxMunicipios.muniId}" id="selmuni" >
	        		<f:selectItem itemLabel="Municipio" itemValue="#{0}" noSelectionOption="true" />
	             	<f:selectItems value="#{registroBean.listMunicipios}"  var="muni" itemLabel="#{muni.muniDesc}" itemValue="#{muni.muniId}"/>
	        	</p:selectOneMenu>	
				
			</h:panelGrid>
			<f:facet name="footer">
				<div align="center">
					<p:commandButton value="Guardar" icon="ui-icon-disk"
						actionListener="#{registroBean.saveOrModifyRegistro()}"
						style="font-size:12px"
						update=":tabRegistroES:formRegistro:registros"
						oncomplete="handleDialogSubmitCli(xhr, status, args);" />
				</div>
			</f:facet>
		</p:dialog>


	</h:form>
	
	<script type="text/javascript">
    function handleDialogSubmitCli(xhr, status, args) {
        if (args.validationFailed) {
        	PF('newRegistroDlg').jq.effect("shake", {times:5}, 100); 
        }
        else{
        	PF('newRegistroDlg').hide();
        }    
    }
</script>

</ui:composition>
